.App-link {
  color: #61dafb;
}

#root {
  height: 100%;
}

body {
  height: 100%;
}

.App {
  text-align: center;
  background-color: #282c34;
  align-items: flex-start;
  height: 240%;

  padding: 60px 60px 0 40px;

  display: grid;
  grid-template-columns: 14fr minmax(310px, 5fr);
  grid-template-rows: 8fr fit-content(70px) 1fr 6fr 7fr;
  grid-template-areas:
    "map                 all_events"
    "options             all_events"
    "b_value_graph       all_events"
    "b_value_graph       ."
    "repeatability_graph .";
  column-gap: 40px;
  row-gap: 40px;
}

.App p {
  margin: 0;
  text-align: center;
  color: #bbc3c8;
  line-height: 26px;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
}

.all_events_container {
  grid-area: all_events;
  position: sticky;
  top: 60px;
  padding-bottom: 40px;

  height: 100%;
}

.map_container {
  grid-area: map;

  position: relative;
  height: 100%;
}

.options_container {
  grid-area: options;
  display: flex;
  align-content: center;

  padding: 10px 0 0 10px;
}

.options_wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: 80px;
}

.graph_1_container {
  grid-area: b_value_graph;
  height: 100%;
}

.graph_2_container {
  grid-area: repeatability_graph;
  padding-bottom: 40px;
  height: 100%;
}
