.b_value_graph_wrapper {
    height: 60vh;
    min-height: 600px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: stretch;
    gap: 40px;
}

.b_value_panels_wrapper {
    flex-basis: 20%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 40px;
}

.b_value_legends {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
}

.b_value_info {
    width: 100%;
    justify-content: flex-end;
    padding: 20px 0;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.b_value_options {
    justify-content: flex-end;
    padding: 20px 0;
}

.b_value_options_step {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

.b_value_options_step p {
    margin: 0;
    align-self: center;
}

.b_value_graph {
    flex-basis: 80%;
    overflow: hidden;

    height: 100%;
}