.events_by_time_graph_wrapper {
    height: 60vh;
    min-height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #2e333d;
    border-radius: 10px;
}

.events_by_time_graph {
    width: 95%;
    height: 100%;
}