.event_card_container {
    display: flex;
    flex-flow: column nowrap;
    background-color: #2e333d;
    justify-content: flex-start;
    border-radius: 10px;
    height: 100%;
}

.event_card_wrapper_inner {
    display: flex;
    flex-flow: column nowrap;
    overflow-y: scroll;
    align-items: center;
    min-width: 95%;
}

.event_card_wrapper_outer {
    display: flex;
    margin-bottom: 10px;
    overflow: hidden;
    width: 100%;
}

::-webkit-scrollbar {
    width: 10px;
}

.event_card_wrapper_inner::-webkit-scrollbar-track {
    background-color: #333945;
    border-radius: 5px;
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 5px;
    width: 5px;
}

.event_card {
    background-color: #333945;
    width: 85%;
    margin-bottom: 20px;
    font-size: 18px;
    border-radius: 15px;
    padding: 10px;
    overflow-wrap: break-word;
    justify-content: left;
    box-sizing: border-box;
    border: 1px solid transparent;
}

.event_card_selected {
    background-color: #333945;
    width: 85%;
    margin-bottom: 20px;
    font-size: 18px;
    border-radius: 15px;
    padding: 10px;
    overflow-wrap: break-word;
    justify-content: left;
    box-sizing: border-box;
    border: 1px solid #0593ff;
}

.event_card p, .event_card_selected p {
    display: flex;
    gap: 5px;
    justify-content: center;
}

.event_card_container_header {
    gap: 10px;
    padding: 20px 0;
    text-align: center;
    color: #bbc3c8;
    line-height: 26px;
    font-weight: 500;
    font-size: 24px;
}

.icons_wrapper {
    padding-top: 20px;
    display: flex;
    gap: 50px;
    justify-content: center;
    padding-bottom: 20px;
}

.clock_icons {
    display: flex;
    flex-flow: row nowrap;
    gap: 5px;
}

.magn_icons {
    display: flex;
    flex-flow: row nowrap;
    gap: 5px;
}