@import url("../../node_modules/leaflet/dist/leaflet.css");

.map_wrapper {
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    align-self: stretch;
    flex-grow: 1;
    height: 95%;
    flex-basis: 70%;
}

.map_related_wrapper {
    padding: 20px 0 0 0;
    display: flex;
    flex-flow: column nowrap;
}

.map_options_wrapper1 {
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
    justify-content: flex-start;
    align-items: flex-start;
}

.leaflet-container {
    height: 100%;
    width: 100%;
    z-index: 1;
    border-radius: 5px;
}