@import url("../../node_modules/leaflet/dist/leaflet.css");

.map_wrapper {
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    height: 150%;
    flex-basis: 80%;
}

.map_options_wrapper {
    padding: 20px 0 0 0;
    display: flex;
    flex-flow: column nowrap;
}

.leaflet-container {
    height: 55%;
    width: 100%;
    z-index: 1;
    border-radius: 20px;
}