.repeatability_graph_wrapper {
    grid-area: repeatability_graph;

    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #2e333d;
    border-radius: 10px;
}

.repeatability_graph {
    width: 95%;
    height: 100%;
}